.event-detail
  .content
    .meta
      %h1= event.title

      %h3
        When:
        %span= event.event_date.strftime("%A, %b %d, %Y")
        %span= event.event_time

      %h3
        Where:
        %span= event.location

      .body
        =markdown event.body

      -if event.contact_name.present?
        .contact
          Contact:
          = event.contact_name

          -if event.contact_email.present?
            %a{href: "mailto:#{event.contact_email}"}= event.contact_email

    %hr
